<?xml version="1.0" encoding= "UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration debug="true">
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender" >
        <layout class="org.apache.log4j.PatternLayout" >
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{moduleName}|%X{ip}|%p|%X{serverIp}|%X{serverPort}|%X{traceId}|%X{pid}|%t|%X{logger}|%F|%m%n" />
        </layout>
    </appender>

    <!-- 将日志信息输出到文件，但是当文件的大小达到某个阈值的时候，日志文件会自动回滚 -->
    <appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
        <!-- 设置日志信息输出文件全路径名 -->
        <param name="File" value="${di.logging.base-dir}/logs/di-zabbix-component/${di.apiId}/file.log" />
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
        <param name="Append" value="true" />
        <!-- 设置保存备份回滚日志的最大个数 -->
        <param name="MaxBackupIndex" value="10" />
        <!-- 设置当日志文件达到此阈值的时候自动回滚，单位可以是KB，MB，GB，默认单位是KB -->
        <param name="MaxFileSize" value="1MB" />
        <!-- 设置日志输出的样式 -->
        <layout class="org.apache.log4j.PatternLayout">
            <!-- 设置日志输出的格式 -->
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{moduleName}|%X{ip}|%p|%X{serverIp}|%X{serverPort}|%X{traceId}|%X{pid}|%t|%X{logger}|%F|%m%n" />
        </layout>
    </appender>

    <root>
        <priority value="info" />
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="RollingFileAppender"/>
    </root>
</log4j:configuration>